[Unit]
Description=MonoChat Server 3

[Service]
Type=simple
WorkingDirectory={YOUR WOKING DIRECTORY}
ExecStart=make run
Restart=always

[Install]
WantedBy=multi-user.targetroot@{YOUR INSTANCE NAME}:{YOUR WOKING DIRECTORY}

